<div class="auth-input" , data-input-name="{{name}}">
    <span class="auth-input__title">{{input_title}}</span>
    <input type="{{type}}" placeholder="{{placeholder}}" name="{{name}}" maxlength="100" value="{{input_value}}">
    <div class="auth-input__error" name="{{name}}"></div>
</div>