<button type="{{type}}" name="{{name}}" title="{{help}}">
    {{#if svg}}
        <svg width="40px" height="40px">
            <use href="{{svg}}"></use>
        </svg>
    {{/if}}
    <span class="button__text">{{title}}</span>
    {{#if count}}
        <p class="count">{{count}}</p>
    {{/if}}
</button>