<div class="auth-page">
    <div class="auth-page__form-container">
        <h1 class="logo-title">SMAIL</h1>
        <h1 class="auth-form__title">{{title}}</h1>
        <form action="" class="auth-form">
            <div class="auth-form__inputs">
                {{#each inputs}}
                <div class="auth-input" , data-input-name="{{name}}">
                    <span class="auth-input__title">{{input_title}}</span>
                    <input type="{{type}}" placeholder="{{placeholder}}" name="{{name}}" maxlength="100">
                </div>
                {{/each}}
            </div>
            <div class="auth-input__error"></div>
            <div class="auth-form__actions"></div>
        </form>
    </div>
</div>